<nav class="navbar navbar-default sidebar gradient-dark-blue" role="navigation">
  <div class="container-fluid">
    <div class="logo org-logo">
      <%= image_tag('splash/perk-social-logo.png', :class => 'org-admin-logo') %>
    </div>

    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="item">
          <a href="#"><span style="font-size:16px;" class="pull-right hidden-xs fa fa-line-chart"></span>
            Overview</a>
        </li>
        <li class="item">
          <a href="#"><span style="font-size:16px;" class="pull-right hidden-xs fa fa-line-chart"></span>
            Details</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
