<tr id="filter_condition_1" style="border-bottom: 1px solid #414561; padding: 0px 5px;">
  <td scope="row" width="5%" class="remove-btn-align" style="padding-left: 15px !important;">
    <div class="form-group">
      <a class="hide_row" href="javascript:void(0);">
        <i class="feather icon-minus-circle"></i>
      </a>
    </div>
  </td>
  <td width="30%">
    <div class="form-group">
      <%= r_f.select(:challenge_event, options_for_select(ChallengeFilter::EVENTS, :selected => r_f.object.challenge_event), {},
                     {class: "reward_event select2 form-control"})
      %>
    </div>
  </td>
  <td width="30%">
    <div class="form-group">
      <%= r_f.select(:challenge_condition, options_for_select(ChallengeFilter::AGE_CONDITIONS, :selected => r_f.object.challenge_condition),
                     {}, {class: "age_reward_condition select2 form-control"})
      %>
      <%#= r_f.select(:challenge_condition, options_for_select(["Has", "Not"], :selected => r_f.object.challenge_condition),
                     {}, {class: "filter_hidden  tags_reward_condition select2 form-control"})
      %>
      <%#= r_f.select(:challenge_condition, options_for_select(["Is", "Not"], :selected => r_f.object.challenge_condition), {},
                     {class: "filter_hidden gender_reward_condition select2 form-control"})
      %>
    </div>
  </td>
  <td width="30%">
    <div class="form-group">
      <%= r_f.text_field :challenge_value, class: " reward_value form-control" %>
      <%#= r_f.select(:challenge_value, options_from_collection_for_select(@campaign.rewards.all, :id, :name),
                     {}, {:selected => r_f.object.challenge_value, class: "filter_hidden all_rewards_value select2 form-control"})
      %>
      <%#= r_f.select(:challenge_value, options_for_select(@campaign.rewards, :selected => r_f.object.challenge_value),
                     {}, {class: "filter_hidden all_challenges_value select2 form-control"})
      %>
      <%#= r_f.select(:challenge_value, options_for_select(ChallengeFilter::SOCIAL_PLATFORMS, :selected => r_f.object.challenge_value),
                     {}, {class: "filter_hidden social_reward_value select2 form-control"})
      %>
      <%#= r_f.select(:challenge_value, options_for_select(["Male", "female", "Unknown"], :selected => r_f.object.challenge_value),
                     {}, {class: "filter_hidden gender_value select2 form-control"})
      %>
    </div>
  </td>
</tr>