<%#= javascript_include_tag 'campaign_admin/challenges', 'data-turbolinks-track' => 'reload' %>

<div class="app-content content">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-2">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-left mb-0">Edit Challenge</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="content-body">
			<%= render partial: 'form' %>
		</div>
	</div>
</div>
