@font-face {
  font-family: 'PerkSocial';
  src: url("/perksocial-font/PerkSocial.eot");
  src: url("/perksocial-font/PerkSocial.eot") format("embedded-opentype"), url("/perksocial-font/PerkSocial.ttf") format("truetype"), url("/perksocial-font/PerkSocial.woff") format("woff"), url("/perksocial-font/PerkSocial.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.popupmenu {
  display: none;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2000;
  background-color: white;
  letter-spacing: 1.3px;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 22px;
  box-shadow: -5px -3px 11px -6px rgba(0,0,0,0.62);
  margin-left: -20px;
  margin-right: -20px;
}

.popupmenu ul {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: left;
}

.popupmenu ul li{
  height:60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #EFEFEF;
  width: 100%;
}

.popupmenu ul li.user-bar {
    line-height: 0px;
    text-transform: none;
}

.popupmenu .user-name {
  vertical-align: 21px;
  color: #BB0000;
  font-weight: 800;
}

.popupmenu .user-info-points {
  margin-left: 54px;
  color: #BB0000;
  margin-top: -8px;
}

.popupmenu-wrap {
  position: relative;
  /*margin-top: 21px;*/
}

.popupmenu-perk-icon.icon-account-solid,
.popupmenu-perk-icon.icon-crown-solid,
.popupmeu-perk-icon.icon-sign-out {
  font-family: 'PerkSocial' !important;
  padding-right: 10px;
  color: #A3A3A3; 
}

.icon-account-solid::before {
  content: "\e90a";
}

.icon-crown-solid::before {
  content: "\e90b";
}

.icon-sign-out::before {
  content: "\e90d";
  font-weight: 700;
}

.js-open-menu{
  display: inline-block;
  line-height: 44px;
  vertical-align: top;
}

.js-open-menu:hover .open-link span {
  background-color: #00a7e2; /*Blue*/
  transition: all 0.3s ease;
  cursor: pointer;
}

.popupmenu .popupmenu-link:hover {
  color: #00a7e2; /*Blue*/
  transition: all 0.3s ease;
  cursor: pointer;
}

.popupmenu .popupmenu-link:hover .popupmenu-perk-icon {
  color: #00a7e2; /*Blue*/
  transition: border 0.3s ease;
}

.open-link #menu-down{
  font-size: 40px;
  color:red;
  cursor: pointer;
}

.open-link #menu-up{
  font-size: 40px;
  color:#ffffff;
  cursor: pointer;
}

.is-stuck .user-info {
  line-height: 50px;
  padding-right: 5px;
}

.is-stuck .js-open-menu {
  color: white;
  font-size: 29px;
  line-height: 53px;
}

.is-stuck.main-nav .nav-logo-img {
  width: 180px;
}

@media (min-width: 753px) {
  .is-stuck .popupmenu {
    top: -5px;
    width: 262px;
    left: 3%;
  }
}

@media (min-width: 900px) {
  .is-stuck .popupmenu {
    left: 23%;
  }
}

@media (max-width: 770px) and (min-width: 720px) {
  a.nav-link{
    padding-right: 0px;
    padding-left: 5px;
  }
}


.nav-links-mobile {
  display: none;
}

span.user-name {
  font-weight: 500;
}

@media (max-width: 650px) {
  .nav-links-mobile {
    display: block;
  }
  .nav-logo {
    display: inline-block;
    max-width: 164px;
  }
  .top-nav {
    min-width: 230px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .nav-header-open.nav-login .img-circle {
    margin-top: 10px;
  }
  .top-nav .wrap{
    height: 25px;
  }
  .nav-header-closed {
    padding-top: 0 !important;
  }
  .open-link #menu-down{
    color: white;
  }
  .open-link {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .main-nav-links {
    display: none;
  }
  .js-open-menu{
    display: block;
  }
  .user-info {
    display: none !important;
  }
  .top-nav-profile-image {
    display: none !important;
  }
  .top-nav {
    background-color: #BB0000;
  }
  .popupmenu-wrap {
    position: static;
  }
  .popupmenu {
    margin: 0;
  }
  .user-bar {
    background-color: #EFEFEF;
    padding-left: 18px;
  }
  .popupmenu-link a{
    padding: 0 13px;
  }

  .fa-angle-down:before {
    content: "" !important;
    background: url('/osu/img/site/hamburger.svg') no-repeat;
    padding: 0 11px;
  }

  .fa-angle-up:before {
    content: "" !important;
    background: url('/osu/img/site/hamburger.svg') no-repeat;
    padding: 0 11px;
  }

  .open-link {
    top: 12px;
  }

  .open-link #menu-up, .open-link #menu-down {
    font-size: 21px;
  }
  .page-header-hero {
    padding-top: 20px;
  }
}

/*styling to accomodate new router links refactor*/

.nav-link {
  position: relative;
}

.logged-out .nav-link {
  padding-left: 6px;
}

.nav-link a {
  padding: 11px 16px;
  padding-left: 32px;
  color: white;
}

.nav-link a:hover, .nav-link a:active, .nav-link a:focus {
  color: white;
}

.router-link-active a, .active-router-link-active a,
.router-link-active a:hover, .active-router-link-active a:hover{
  color: white;
}

.popupmenu-link a {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  color: #4A4A4A;
}

/*non router link padding*/
.link-padding {
  padding-left: 30px;
}

