
.end-user-details-modal .modal-dialog {
  max-width: 620px;
}

.end-user-details-modal .modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  position: absolute;
  z-index: 555;
  top: 22px;
  right: 26px;
  border: none;
}

.modal_box {
  border: 2px solid #ccc;
  padding: 40px;
  border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.modal_box a {
  color: #1bb0ce;
}

.modal_box h5 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 17px;
  color: #202020;
}

.modal_box .connect-social-icon {
  float: left;
  line-height: 24px;
}

.modal_box .form-control {
  margin-bottom: 13px;
}

.modal-header .close {
  outline: none;
}

.font-12 {
  font-size: 12px;
}

.box1_btn {
  font-weight: 900;
  font-size: 15px;
  border-radius: 22px;
  padding: 7px 23px;
  margin-bottom: 17px;
  background-color: #ff0000;
  color: #fff;
}

.box1_btn:focus {
  outline: 0;
  box-shadow: none;
}

.cancel-btn {
  font-size: 15px;
  border-radius: 22px;
  padding: 7px 23px;
  margin-bottom: 17px;
}

.cancel-btn:focus {
  outline: 0;
  box-shadow: none;
}

.facebook_btn {
  background-color: #4060B2 !important;
  color: #f2f2f2 !important;
}

.google_btn {
  background-color: #000 !important;
  color: #f2f2f2 !important;
}

.twitter_btn {
  background-color: #00acee !important;
  color: #f2f2f2 !important;
}

.email_btn {
  background-color: #fff !important;
  border: 2px solid #000 !important;
  color: #000 !important;
}

span.error {
  color: red;
  float: left;
  font-size: 13px;
}

.custom-error-class {
  margin-top: -3px;
}

.box2 .form-control, .box3 .form-control {
  font-size: 16px;
  min-height: 47px;
  padding: 6px 16px;
  border: 1px solid #818a91;
  font-family: "proxima-nova-condensed", Sans-serif;
  font-weight: 100;
  color: #707070;
}

.box2 .form-control:focus, .box3 .form-control:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  outline: 0;
  border-color: #3d3d3d;
}

.error {
  color: #EA5455 !important;
  font-size: 0.875rem !important;
}

.terms-details {
  color: #707070;
  font-family: "proxima-nova-condensed", Sans-serif;
  font-weight: 400;
  font-size: 11px;
}

.red-color-span {
  color: #ff0000;
}

.box3 {
  text-align: left;
}

.Zipcode_text {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: -8px;
}

.box3 label {
  display: inline-block;
  margin-bottom: .7rem;
  color: #707070;
  font-weight: 600;
  margin-right: 10px;
}

.box3 .checkbox-inline {
  color: inherit;
  font-weight: 100;
  padding-right: 10px;
}

.extended-form-group {
  position: relative;
}

.additional-details {
  color: #707070;
  font-size: 12px;
  margin-left: 5px !important;
}

.bottom-margin {
  margin-bottom: 5px !important;
}

/* Generic style and custom classes */
.size-10 {
  font-size: 10px !important;
}

.size-12 {
  font-size: 12px !important;
}

.size-14 {
  font-size: 14px !important;
}

.m-b-14 {
  margin-bottom: 14px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.font-color-1 {
  color: #bb0000;
}

.section-bg-color-1 {
  background-color: #FAFAFA;
}

/* New Challenge Popup Design Start */
.challenge-modal.modal, .reward-modal.modal {
  background-color: #000;
}

.challenge-modal .modal-dialog, .participant-details-modal .modal-dialog {
  max-width: 736px;
}

.challenge-modal .modal-content {
  border-radius: 14px;
}

.challenge-content {
  color: #444;
  padding: 20px 40px;
  border-radius: 12px;
}

.challenge-content h4 {
  font-family: "proxima-nova", Sans-serif;
  font-weight: 900;
  color: #202020;
  font-size: 1.3rem;
}

.challenge-content p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.challenge-content ul {
  margin-left: 15px;
}

.challenge-content label {
  display: inline-block;
  margin-bottom: 1rem;
  color: #707070;
  font-size: 13px;
  font-weight: 900;
}

.challenge-content .radio-label {
  font-family: "proxima-nova-condensed", Sans-serif;
  color: inherit;
  font-weight: 400;
  padding-right: 10px;
  margin-bottom: 5px;
}

.challenge-content .form-group {
  margin-bottom: 26px !important;
}

.time_class {
  color: #B7B4B4;
  font-family: "proxima-nova", Sans-serif;
}

.time_class .fa-clock-o, .time_class .fa-check-circle {
  font-size: 20px;
  color: #202020;
}

.challenge-question-form .option-label {
  font-weight: normal !important;
  margin-bottom: 5px;
}

.visit-btn-container {
  text-align: center;
}
/* New Challenge Popup Design End */


/* Old Reward Popup Design Start */
/* .reward-modal.modal {
  background-color: #000;
}

.reward-modal .modal-dialog {
  max-width: 736px;
}

.reward-modal .modal-content {
  border-radius: 14px;
}

.reward-content {
  color: #444;
  padding: 20px 40px;
  border-radius: 12px;
}

.reward-content h4 {
  font-family: "proxima-nova", Sans-serif;
  font-weight: 900;
  color: #202020;
  font-size: 1.3rem;
}

.reward-content p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.reward-content ul {
  margin-left: 15px;
}

.reward-content label {
  display: inline-block;
  margin-bottom: 1rem;
  color: #707070;
  font-size: 13px;
  font-weight: 900;
}

.reward-content .radio-label {
  font-family: "proxima-nova-condensed", Sans-serif;
  color: inherit;
  font-weight: 400;
  padding-right: 10px;
  margin-bottom: 5px;
}

.reward-content .form-group {
  margin-bottom: 26px !important;
} */

/* Old Reward Popup Design End */



/* New Reward Popup Design start */
.new_popup_box h3 {
  font-family: "proxima-nova", Sans-serif;
  font-weight: 900;
  font-size: 1.6875em;
  color: #202020;
}

.new_popup_box h4 {
  font-family: "proxima-nova", Sans-serif;
  color: #444;
  font-size: 1.6875em;
  line-height: 1.8;
}

.new_popup_box p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.reward-modal .modal-dialog {
  max-width: 850px;
  margin: 20px auto;
}

.reward-modal .modal-content {
  border-radius: 25px;
}

.reward-modal .reward-content {
  padding: 1rem;
}

.reward-modal .modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  position: absolute;
  z-index: 555;
  top: 30px;
  right: 34px;
  border: none;
}

.reward-modal .cashin_class {
  position: absolute;
  z-index: 555;
  top: 22px;
  left: 34px;
  color: #FF0000;
  font-family: "proxima-nova", Sans-serif;
  font-weight: 900;
  font-size: 1.37rem;
}

.reward-modal .reward_title {
  font-family: "proxima-nova", Sans-serif;
  font-weight: 900;
  color: #202020;
  font-size: 2.375em;
}

.reward-modal .reward_img {
  margin-top: 5px;
  width: 100%;
}

.reward-modal .reward_paragraph {
  font-family: "proxima-nova", Sans-serif;
  font-size: 1.2em;
  line-height: 1.1em;
}

.reward_detail {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px;
  border-radius: 35px;
  background-color: #f9f9f9;
  margin-top: 15px;
}

.reward-modal .reward_detail_divider {
  margin-top: 10px;
  margin-bottom: 28px;
  border: 0;
  border-top: 1px solid #000;
}

.reward-modal h2 {
  font-family: "Raleway", arial, sans-serif;
  color: #444;
  font-size: 2.375em;
  text-align: left;
  margin-bottom: 25px;
}

.reward-modal p {
  font-family: 'Montserrat';
  color: #444;
  text-align: left;
}

.reward_detail_content img {
  max-width: 100%;
}

.reward_detail_content ul{
  margin-left: 17px;
}

.reward-modal .panel{
  border-bottom: 1px solid #d4d4d4;
  padding-left: 13px;
}

.reward-modal .panel-title>a, .panel-title>a:active{
  display:block;
  padding:0px;
  color: #54595F;
  letter-spacing:.3px;
  font-family: "proxima-nova", Sans-serif;
  font-weight: 900;
  text-decoration:none;
  font-size: 16px;
}

.reward-modal .panel-heading{
  padding-bottom: 5px;
}

.reward-modal .panel-heading  a:before {
  font-family: 'FontAwesome';
  content: "\f0da";
  float: left;
  transition: all 0.5s;
}

.reward-modal .panel-heading.active a:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}

.reward-modal .collapse_content{
  color: #707070;
  font-family: "proxima-nova-condensed", Sans-serif;
  font-weight: 400;
  margin: 15px 0px 30px;
}

.reward-modal .expire_date{
  float: right;
  padding-top: 7px;
  font-family: 'Montserrat';
  color: #444;
}

.reward-modal .earn_more_btnbox{
  margin-top: 10px;
}

.clr_green{
  color: #61CE70 !important;
}

.reward-modal .congrats_emoji{
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.reward-modal .congrats_text {
  font-family: "proxima-nova", Sans-serif;
  font-weight: 300;
  color: #202020;
  font-size: 2.375em;
  text-align: center;
}

.reward-modal .offer_text {
  color: #444;
  font-family: 'Montserrat';
  margin: 30px 0px 40px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .reward-modal .modal-dialog {
      max-width: 100%;
      margin: 15px 30px;
  }
  .reward-modal .reward_img {
      width: 100%;
  }
}

.username {
  font-family: "proxima-nova", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: #000000;
}
/* New Reward Popup Design End */

.participant-details-modal .modal-content {
  border-radius: 25px;
}

.ql-editor img {
  width: 100% !important;
}

/* User Logged In Homepage Design css start */
.new_section h3 {
    font-family: "proxima-nova", Sans-serif;
    font-size: 4em;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: -1.7px;
    color: #000000;
    margin: 0px 0px 0px 0px;
    text-align: left;
}

.new_section p {
    font-family: "proxima-nova", Sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 23px;
    color: rgba(0,0,0,0.6);
    text-align: left;
}

.title_icon {
    width: 70px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
.user_name {
    font-family: "proxima-nova", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    fill: #000000;
    color: #000000;
}
.user_name b {
    font-weight: 600;
}

@media (min-width: 768px) {
  .width_37 {
      width: 37%;
      float: left;
  }
  .width_63 {
      width: 63%;
      float: left;
  }
  .width_100 {
      width: 100%;
      position: relative;
      margin: 0px 0px 20px 0px;
      display: inline-block;
  }
}

.bold_red{
    font-family: "proxima-nova", Sans-serif;
    font-weight: 900;
    color: #FF0000;
}
/* User Logged In Homepage Design css end */
