<%= javascript_include_tag 'campaign_admin/participants', 'data-turbolinks-track' => 'reload' %>
<%= stylesheet_link_tag 'campaign_admin/participants', 'data-turbolinks-track' => 'reload' %>

<div class="tab-pane active" id="activity-feed-list" role="tabpanel">
  <section id="data-list-view" class="data-list-view-header">
    <div class="table-responsive">
      <table id="activity-list-table" class="table data-thumb-view" campaign_id='<%= @campaign.id %>' participant_id='<%= @participant.id %>'></table>
    </div>
  </section>
</div>
