<section class="data-list-view-header">
  <div class="table-responsive">
    <table id="note-list-table" class="table note-list-view" campaign_id='<%= @campaign.id %>' participant_id='<%= @participant.id %>'></table>
  </div>
</section>
