<div class="tab-pane" id="rewards-list" role="tabpanel">
  <section id="data-list-view" class="data-list-view-header">
    <div class="table-responsive">
      <table id="reward-list-table" class="table data-thumb-view" campaign_id='<%= @campaign.id %>' participant_id='<%= @participant.id %>'></table>
    </div>
  </section>
</div>
