<nav class="nav-solid">
  <div class="container">
    <a href="/">
      <%= image_tag('splash/perk-logo-header.png', :class => 'logo') %>
    </a>
    <a class="nav-link" href="<%= new_user_session_path %>">
      <i class="zmdi zmdi-account zmdi-hc-lg"></i>
      &nbsp;Sign In
    </a>
    <a class="nav-link demo" href="javascript:void(0);">
      <i class="zmdi zmdi-desktop-mac zmdi-hc-lg"></i>
      &nbsp;<span class="hidden-xs">Get a</span> Demo
    </a>
  </div>
</nav>
