
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Social Networks</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="network-connect-options" class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Connect to a Social Network</h3>
            </div>
            <div class="card-content">
              <div class="card-body">
                <p>
                  connect your brand to the platform to start enabled various features such as walls. Make sure not to include your personal accounts unless you want the information as part of the campaigns.
                </p>

                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-start flex-wrap">
                      <div class="col-md-2">
                        <div class="text-center facebook_bg_color text-white height-100 d-flex align-items-center justify-content-center shadow">
                          <div class="size-50"><i class="fa fa-facebook-square"></i></div>
                        </div><br>
                        <!-- <button type="button" class="btn btn-block btn-sm square facebook_bg_color my-1 waves-effect waves-light text-white"><i class="feather icon-plus">Facebook</i></button> -->
                        <div class="fb-login-button" data-size="small" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
                      </div>
                      <div class="col-md-2">
                        <div class="text-center instagram_bg_color text-white height-100 d-flex align-items-center justify-content-center shadow">
                          <div class="size-50"><i class="fa fa-instagram"></i></div>
                        </div>
                        <button type="button" class="btn btn-block btn-sm square instagram_bg_color my-1 waves-effect waves-light text-white"><i class="feather icon-plus">Instagram</i></button>
                      </div>
                    </div>
                  </div>
                </div>




              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=1585668911602610&autoLogAppEvents=1"></script>
