<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Social Networks</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="network-connect-options" class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Connect to a Social Network</h3>
            </div>
            <div class="card-content">
              <div class="card-body">
                <p>
                  connect your brand to the platform to start enabled various features such as walls. Make sure not to
                  include your personal accounts unless you want the information as part of the programs.
                </p>

                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-start flex-wrap">
                      <div class="col-md-2">
                        <div class="text-center facebook_bg_color text-white height-100 d-flex align-items-center justify-content-center shadow">
                          <div class="size-50"><i class="fa fa-facebook-square"></i></div>
                        </div>

                        <% unless @facebook_network.blank? %>
                          <a href="<%= disconnect_admin_campaign_network_path(@campaign, @facebook_network) %>" class="btn btn-block btn-sm square facebook_bg_color my-1 waves-effect waves-light text-white"><i class="feather icon-plus">Disconnect</i></a>
                        <% else %>
                          <a href="<%= participant_facebook_omniauth_authorize_path(type: 'social_feed', ci: @campaign.id, oi: @organization.id, ui: current_user.id) %>" class="btn btn-block btn-sm square facebook_bg_color my-1 waves-effect waves-light text-white"><i class="feather icon-plus">Facebook</i></a>
                          <!-- <div class="fb-login-button" data-size="small" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div> -->
                          <!-- <fb:login-button  scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> -->
                        <% end %>
                      </div>

                      <div class="col-md-2">
                        <div class="text-center instagram_bg_color text-white height-100 d-flex align-items-center justify-content-center shadow">
                          <div class="size-50"><i class="fa fa-instagram"></i></div>
                        </div>

                        <% unless @instagram_network.blank? %>
                          <%
                            url = "https://api.instagram.com/oauth/authorize?client_id=#{@conf.instagram_app_id}&redirect_uri=#{instagram_auth_callback_url}&scope=user_profile,user_media&response_type=code"
                          %>

                          <a href="<%= participant_facebook_omniauth_authorize_path(type: 'social_feed', ci: @campaign.id, oi: @organization.id, ui: current_user.id) %>"
                             class="btn btn-block btn-sm square facebook_bg_color my-1 waves-effect waves-light text-white">
                            <i class="feather icon-plus">Disconnect</i>
                          </a>
                        <% else %>
                          <a href="<%= participant_instagram_graph_omniauth_authorize_path(type: 'social_feed', ci: @campaign.id, oi: @organization.id, ui: current_user.id, exchange_access_token_to_long_lived: true) %>"
                             class="btn btn-block btn-sm square instagram_bg_color my-1 waves-effect waves-light text-white">
                            <i class="feather icon-plus">Instagram</i>
                          </a>
                        <% end %>

<!--                        <button type="button" class="btn btn-block btn-sm square instagram_bg_color my-1 waves-effect waves-light text-white">-->
<!--                          <i class="feather icon-plus">Instagram</i>-->
<!--                        </button>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- <div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=<%#=@config.facebook_app_id%>&autoLogAppEvents=1"></script> -->
<!-- <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script> -->
<!-- <script>
    // // Load the SDK asynchronously
    // (function(d, s, id) {
    //   var js, fjs = d.getElementsByTagName(s)[0];
    //   if (d.getElementById(id)) return;
    //   js = d.createElement(s); js.id = id;
    //   js.src = "https://connect.facebook.net/en_US/sdk.js";
    //   fjs.parentNode.insertBefore(js, fjs);
    // }(document, 'script', 'facebook-jssdk'));
    //
    // // initialise facebook app
    // window.fbAsyncInit = function() {
    //   FB.init({
    //     appId            : "<%#= @config.facebook_app_id %>",
    //     autoLogAppEvents : true,
    //     xfbml            : true,
    //     version          : 'v7.0'
    //   });
    //   FB.AppEvents.logPageView();
    //
    //   FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
    //     statusChangeCallback(response);        // Returns the login status.
    //   });
    // };

     // // Called when a person is finished with the Login Button.
     // function checkLoginState() {
     //   FB.getLoginStatus(function(response) { // Called after the JS SDK has been initialized.
     //     statusChangeCallback(response);  // Returns the login status.
     //   });
     // }

    // // Called with the results from FB.getLoginStatus().
    // function statusChangeCallback(response) {
    //   console.log('statusChangeCallback');
    //   console.log(response);
    //   var userId;                   // The current login status of the person.
    //   if (response.status === 'connected') {
    //     // to fetch user details
    //     userId = response.authResponse.userID
    //     FB.api(userId, function(response) {
    //       console.log(response);
    //     });
    //
    //   }
    //   // if (response.status === 'connected') {   // Logged into your webpage and Facebook.
    //   //   testAPI();
    //   // } else {                                 // Not logged into your webpage or we are unable to tell.
    //   //   document.getElementById('status').innerHTML = 'Please log ' +
    //   //     'into this webpage.';
    //   // }
    // }

    //  // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    //  // function testAPI() {
    //  //   console.log('Welcome!  Fetching your information.... ');
    //  //   FB.api('/me', function(response) {
    //  //     console.log('Successful login for: ' + response.name);
    //  //     document.getElementById('status').innerHTML =
    //  //       'Thanks for logging in, ' + response.name + '!';
    //  //   });
    //  // }

</script> -->
