default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  port: 5432

development:
  <<: *default
  database: XXX
  host: XXX
  username: XXX
  password: XXX

test:
  <<: *default
  database: XXX
  host: XXX
  username: XXX
  password: XXX

production:
  <<: *default
  database: XXX
  host: XXX
  username: XXX
  password: XXX
