default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  port: 5432

development:
  <<: *default
  database: XXX
  host: XXX
  user: XXX
  password: XXX

test:
  <<: *default
  database: XXX
  host: XXX
  user: XXX
  password: XXX

production:
  <<: *default
  database: <%= Rails.application.credentials[:production][:database][:name] %>
  host: <%= Rails.application.credentials[:production][:database][:host] %>
  username: <%= Rails.application.credentials[:production][:database][:user] %>
  password: <%= Rails.application.credentials[:production][:database][:password] %>
