<div class="container">
  <div class="row row-container">
    <div class="col-md-12">
      <div class="header-text">
        CAMPAIGNS
      </div>
      <div style="float:right;">
        <a href="<%= new_organizations_campaign_path %>" class="btn-red-admin">ADD CAMPAIGN</a>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="col-md-12">
      <table class="table" style="margin-top:10px;">
        <tr>
          <th>CREATED AT</th>
          <th>CAMPAIGN NAME</th>
          <th>MEMBERS</th>
          <th>CHALLENGES/COMPLETED</th>
          <th>PRIZES/AWARDED</th>
          <th>DEACTIVATE</th>
        </tr>
        <tr>
          <td style="color:#888;">
            February 27, 2020
          </td>
          <td>
            <a href="javascript:void(0);">Buckeye Nation Rewards</a>
          </td>
          <td style="color:#888;">
            1
          </td>
          <td style="color:#888;">
            5
          </td>
          <td style="color:#888;">
            3
          </td>
          <td>
            <a data-confirm="Are you sure you want to de-activate this campaign? This cannont be brought back." href="javascript:void(0);">Deactivate</a>
          </td>
        </tr>
        <tr>
          <td style="color:#888;">
            March 21, 2020
          </td>
          <td>
            <a href="javascript:void(0);">Ohio State University</a>
          </td>
          <td style="color:#888;">
            2
          </td>
          <td style="color:#888;">
            7
          </td>
          <td style="color:#888;">
            5
          </td>
          <td>
            <a data-confirm="Are you sure you want to de-activate this campaign? This cannont be brought back." href="javascript:void(0);">Deactivate</a>
          </td>
        </tr>
        <tr>
          <td style="color:#888;">
            January 18, 2020
          </td>
          <td>
            <a href="javascript:void(0);">Sonic Nation Rewards</a>
          </td>
          <td style="color:#888;">
            2
          </td>
          <td style="color:#888;">
            6
          </td>
          <td style="color:#888;">
            5
          </td>
          <td>
            <a data-confirm="Are you sure you want to de-activate this campaign? This cannont be brought back." href="javascript:void(0);">Deactivate</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
