<%= javascript_include_tag 'campaign_admin/challenges', 'data-turbolinks-track' => 'reload' %>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> -->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Rewards</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="table-responsive">
          <table id="reward-list-table" class="table data-thumb-view" campaign_id='<%= @campaign.id %>'>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Render download csv popup -->
<div class="render_user_list">
</div>
<!-- Coupon pop -->
<div class="coupon_user_form">   
</div>

