<select data-placeholder="Select a state..." class="select2-icons form-control" id="select2-icons-11">
  <optgroup>
    <option value="string" data-icon="fa fa-align-left" selected>Short answer</option>
    <option value="text_area" data-icon="fa fa-align-justify">Paragraph</option>
    <option value="radio_button" data-icon="fa fa-dot-circle-o">Multiple choice</option>
    <option value="check_box" data-icon="fa fa-check-square">Checkboxes</option>
    <option value="dropdown" data-icon="fa fa-caret-square-o-down">Dropdown</option>
    <option value="date" data-icon="fa fa-calendar">Date</option>
    <option value="time" data-icon="fa fa-clock-o">Time</option>
    <option value="number" data-icon="fa fa-clock-o">Number</option>
    <option value="decimal" data-icon="fa fa-clock-o">Decimal</option>
    <option value="boolean" data-icon="fa fa-clock-o">Yes/No (Boolean)</option>
    <option value="linear_scale" data-icon="fa fa-ellipsis-h">Linear scale</option>
  </optgroup>
</select>