<div class="container">
  <div class="row-container">
    <div class="row form-bottom-margin">
      <div class="col-md-7 col-lg-offset-3">
        <div class="header-text">
          NEW CAMPAIGN
        </div>
        <br>
        <div style="clear:both;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-lg-offset-3">
        <%= render 'form.html.erb', campaign: @campaign %>
      </div>
    </div>
  </div>
</div>
