<% if @challenge.challenge_type == 'collect' && @challenge.parameters == 'quiz' %>
  <%= render 'non_login/submission/quiz_challenge' %>
<% elsif @challenge.challenge_type == 'collect' && @challenge.parameters == 'quiz' %>
  <%= render 'non_login/submission/survey_modal' %>
<% else %>
  <h1><%= @challenge.challenge_type %> <%= @challenge.parameters %></h1>
<% end %>
