<section class="modal" id="faqModal">
  <div class="modal-inner small-modal">
    <button class="modal-close-btn btn-icon">
      <%= image_tag('end-user/close-button.svg', class: 'logged-out-img') %>
    </button>
    <div>
      <div>
        <div class="modal-header">
          <h1><%= raw @campaign.faq_title %></h1>
        </div>
        <div class="modal-fields ql-editor">
          <%= raw @campaign.faq_content %>
        </div>
      </div>
    </div>
  </div>
</section>
