<section class="modal" id="rulesModal">
  <div class="modal-inner small-modal">
    <button class="modal-close-btn btn-icon">
      <svg viewBox="0 0 100 100" class="icon-close-modal">
        <use xlink:href="#svg-close" processed="false"></use>
      </svg>
    </button>
    <div>
      <div>
        <div class="modal-header">
          <h1>Rules</h1>
        </div>
        <div class="modal-fields ql-editor">
          <%= raw @campaign.rules %>
        </div>
      </div>
    </div>
  </div>
</section>
