.error {
  color: #EA5455 !important;
  font-size: 0.875rem !important;
}

.btn-login {
  transition: all ease .3s;
  background-color: #0085FF;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  width: 100%;
}

.lbl-uppercase {
  text-transform: uppercase;
}

.flash-top-margin {
  margin-top: 10px;
}

.btn-action {
  width: 75px;
}
