.error {
  color: #EA5455 !important;
  font-size: 0.875rem !important;
}

.org-admin-logo {
  position: relative;
  left: 18px;
}
.has-icon-left .form-control-position i {
  color: #C2C6DC;
}

table.data-list-view.dataTable thead th:first-child {
  padding-left: 25px !important;
}

.userActionBtn {
  min-width: 130px;
}
