.error {
  color: #EA5455 !important;
  font-size: 0.875rem !important;
}

.org-admin-logo {
  position: relative;
  left: 18px;
}
.has-icon-left .form-control-position i {
  color: #C2C6DC;
}

table.data-list-view.dataTable thead th:first-child {
  padding-left: 25px !important;
}

table.data-thumb-view.dataTable thead th:first-child {
  padding-left: 38px !important;
}

.user-action-btn {
  min-width: 130px;
}

.column-info {
  font-size: 0.75rem;
  display: block;
  margin-left: 3px;
  color: grey !important;
  font-style: italic;
}

.flash-ul {
  margin-bottom: 0px !important;
}

.quill-editor-height {
  min-height: 200px;
}

.table_image_thumb_size {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.user_table_image_thumb_size {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: .8;
}

.spinner-border {
  display: inline-block;
  width: 4rem !important;
  height: 4rem !important;
  vertical-align: text-bottom;
  border: 0.55em solid currentColor !important;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}
