
<% if @resource.class.name == 'User' && @resource.is_active == false && @resource.is_invited %>
  <%
    ## Set Sub Domain Params & Create a Custom Route
    ssl  = request.ssl? ? 'https://' : 'http://'
    port = Rails.env == 'development' ? ':3000' : ''
    sub_domain = @resource.organization.sub_domain
    req_domain = Rails.env == 'development' ? 'perksocial.local' : request.domain
  %>
  <p>Welcome <%= @email %>!</p>

  <p>You are invited to join Perk Social, You can set your password through the link below:</p>
  <% url = "#{ssl}#{sub_domain}.#{req_domain}#{port}#{confirmation_path(@resource, confirmation_token: @token)}" %>

  <p><%= link_to 'Set Password', url %></p>
<% else %>
  <p>Welcome <%= @email %>!</p>

  <p>You can confirm your account email through the link below:</p>

  <%
    ## Set Sub Domain Params & Create a Custom Route
    ssl  = request.ssl? ? 'https://' : 'http://'
    port = Rails.env == 'development' ? ':3000' : ''
    host = request.host

    url = "#{ssl}#{host}#{port}#{confirmation_path(@resource, confirmation_token: @token)}"
  %>

  <p><%= link_to 'Confirm my account', url %></p>
<% end %>
