<%
  ## Set Sub Domain Params & Create a Custom Route
  ssl  = request.ssl? ? 'https://' : 'http://'
  port = Rails.env == 'development' ? ':3000' : ''
  sub_domain = @resource.organization.sub_domain
  req_domain = Rails.env == 'development' ? 'perksocial.local' : request.domain
%>

<% if @resource.class.name == 'User' %>
  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <% url = "#{ssl}#{sub_domain}.#{req_domain}#{port}/users/password/edit.#{@resource.id.to_s}?reset_password_token=#{@token}" %>

  <p><%= link_to 'Change my password', url %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
<% elsif @resource.class.name == 'Participant' %>
  <p>Welcome <%= @email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <% url = "#{ssl}#{sub_domain}.#{req_domain}#{port}" + "/participants/password/edit." + @resource.id.to_s + "?reset_password_token=" + @token
     #{edit_participant_password_url(@resource, reset_password_token: @token)}" %>

  <p><%= link_to 'Set Password', url %></p>
<% end %>
