<p>Welcome <%= @email %>!</p>

<p>You have been invited to Perk Social.</p>

<p>You can join through the link below:</p>

<p><%= link_to 'Join', confirmation_url(@resource, confirmation_token: @token) %></p>
